html {
    background-color: yellow;
    font-family: sans-serif;
    line-height: 1.25;
}

a {
    color: currentColor;
}

fieldset {
    border: none;
    padding: 1rem;
    display: flex;
    background: black;
    color: yellow;
    border-radius: 0.5rem;
}

fieldset p {
    margin: 0;
}

h1,h2,h3,h4 {
    font-weight: unset;
}

.Header h1 {
    margin: 0;
}

.ClassToggle-group {
    display: flex;
    gap: 1rem;
}

.PostList-item {
    margin-bottom: 1rem;
}

.PostList-title {
    margin: 0;
}

.Meta {
    display: flex;
}

.Calendar h2 {
    margin-bottom: 0.5rem;
}

.Calendar h3 {
    margin: 0;
}

.Calendar-weekBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.Calendar-class {
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.Calendar ul {
    list-style: none;
    padding: 0;
}

.Calendar strong {
    font-weight: unset;
}