@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Monsieur+La+Doulaise&family=Sacramento&display=swap');


html {
background: rgb(247,208,177);
background: radial-gradient(circle, rgba(247,208,177,1) 0%, rgba(215,39,39,1) 49%, rgba(215,39,110,1) 100%);
}



img {
    max-width: 100%;
}

body {
    max-width: 900px;
    margin: auto;
    padding: 1rem;
    font-size: 24px;
    font-family: sans-serif;
}

a {
    color: currentColor;
}

fieldset {
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    border-radius: 0rem;
    gap: 1rem;
}

fieldset p {
    margin: 0;
}

h1 {
    line-height: 1;
}

h1,h2,h3,h4 {
    font-weight: unset;

}

h1,h2 {
font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}
 

select {
    flex: 1;
}

.Meta {
    display: flex;
}

.Calendar h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.Calendar h3 {
    margin: 0;
}

.Calendar-week {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.Calendar-weekBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.Calendar-class {
    background: transparent;
    padding: 1rem;
    border-radius: 0.5rem;
}

.Calendar ul {
    list-style: none;
    padding: 0;
}

.Calendar li::before {
    content: "&#9829;";
    color: red;
}



.Calendar strong {
    font-weight: unset;
}

.Footer {
    margin-top: 1rem;
    position: sticky;
    bottom: 0;
    text-align: center;
}

.Header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: transparent;
    opacity: .75;
}

.Header h1 {
    margin: 0;
}

.Nav-list {
    list-style-type: none;
    margin: 0;
}

.Post {
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
}

.Post > *:first-child {
    margin-top: 0;
}

.Post h2,
.Post h3 {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.Post img {
    display: block;
    max-width: 75%;
    margin: 2rem auto;
}

.Post pre {
    max-width: 75%;
    margin: 2rem auto;
    background-color: hsl(0,0%,93%);
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow-x: scroll;
}

.Post code {
    background-color: hsl(0,0%,93%);
    padding: 0.1rem 0.4rem;
    border-radius: 5px;
    display: inline-block;
    
}

.Post table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.Post th,
.Post td {
    border: 1px solid gainsboro;
    vertical-align: top;
    padding: 0.5rem;
}

.Post th {
    border-bottom: 1px solid black;
}

.Page-header {
    padding: 1rem;
    border-radius: 0.5rem;
    
    margin: 1rem 0;
    background-color: black;
    color: white;
}

.Page-header h1 {
    margin: 0;
}

.PostList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.PostList-item {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.PostList-item:hover {
    color: white;
    background-color: black;
}

.PostList-title {
    margin: 0;
}

.PostList-link {
    display: block;
}

.Meta {
    display: flex;
    gap: 1rem;
}

.StudentNav {
    margin-top: 1rem;
    position: sticky;
    bottom: 0;
}

.StudentNav-link {
    text-decoration: none;
}
