@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Monsieur+La+Doulaise&family=Sacramento&display=swap');


html {
    background-color: #fac3c3;
/*background: rgb(247,208,177);
background: radial-gradient(circle, rgba(247,208,177,1) 0%, rgba(215,39,39,1) 49%, rgba(215,39,110,1) 100%);*/
}

img {
    max-width: 100%;
}


.Fieldset header {
    font-family: "Sacramento", cursive;
}

body {
    max-width: 900px;
    margin: auto;
    padding: 1rem;
    font-size: 24px;
    font-family: sans-serif;
    color: red;
    text-align: center;
}

.Nav-item {
    font-size: 24px;
}

li, .Fieldset-group, .StudentList {
    font-size: 16px;
}

p, .StudentList {
    border: 3px ridge red;
    background-color: #fff0f0;
    padding: 1rem;
    border-radius: 2.75rem;
}

.StudentList {
    padding: 1rem;
}


a {
    color: currentColor;
}

fieldset {
    border: 3px ridge red;
    background-color: #fff0f0;
    padding: 1rem;
    display: flex;
    border-radius: 2.75rem;
    gap: 1rem;
}

fieldset p {
    margin: 0;
}

h1 {
    line-height: 1;
}

h1,h2,h3,h4 {
    font-weight: unset;

}

h1,h2 {
font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}
 

select {
    flex: 1;
}

.Meta {
    display: flex;
}

.Calendar h2 {
    margin-top: 0;
    margin-bottom: 2.75rem;
}

.Calendar h3 {
    margin: 0;
}

.Calendar-week {
    border: 3px ridge red;
    padding: 1rem;
    border-radius: 2.75rem;
    margin: 1rem 0;
}

.Calendar-weekBody {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;*/
}

.Calendar-week {
    background-color: #fff0f0;
}
.Calendar-class {
    background: transparent;
    padding: 1rem;
    width: 100%;
}

.Calendar ul, .StudentList, ol {
list-style: none;

/*list-style-type: "❤️";
list-style-position: inside;*/
  padding-inline-start: 10px;  
    padding: 0;
}

/*.Calendar li::before {
    content: "&#9829;";
    color: red;
}*/





.Calendar strong {
    font-weight: unset;
}

strong {
    padding-left: 10px;
}

.Footer {
    margin-top: 1rem;
    position: sticky;
    bottom: 0;
    text-align: center;
}

.Header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
    border-radius: 2.75rem;
    border: 3px ridge red;
    background-color: #fff0f0;
    text-align: left;
}

.Header h1 {
    margin: 0;
}

.Nav-list {
    list-style-type: "❤️";
    list-style-position: inside;
    margin: 0;
}

.Nav-list li a {
    text-decoration: none;
}

.Post {
    background-color: transparent;
    border-radius: 2.75rem;
    padding: 1rem;
    margin: 1rem 0;
}

.Post > *:first-child {
    margin-top: 0;
}

.Post h2,
.Post h3 {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.Post img {
    display: block;
    max-width: 75%;
    margin: 2rem auto;
}

.Post pre {
    max-width: 75%;
    margin: 2rem auto;
    background-color: hsl(0,0%,93%);
    padding: 2.75rem;
    border-radius: 2.75rem;
    overflow-x: scroll;
}

.Post code {
    background-color: hsl(0,0%,93%);
    padding: 0.1rem 0.4rem;
    border-radius: 5px;
    display: inline-block;
    
}

.Post table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.Post th,
.Post td {
    border: 1px solid gainsboro;
    vertical-align: top;
    padding: 2.75rem;
}

.Post th {
    border-bottom: 5px ridge red;
}

.Page-header {
    padding: 1rem;
    border-radius: 2.75rem;
    
    margin: 1rem 0;
    background-color: transparent;
}

.Page-header h1 {
    margin: 0;
}


ol {
    background-color: #fff0f0;
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 2.75rem;
    border: 3px ridge red;
}
.PostList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.PostList-item {
    background-color: #fff0f0;
    padding: 1rem;
    border-radius: 2.75rem;
}

.PostList-item:hover {
    color: white;
}

.PostList-title {
    margin: 0;
}

.PostList-link {
    display: block;
}

.Meta {
    display: flex;
    gap: 1rem;
}

.StudentNav {
    margin-top: 1rem;
    position: sticky;
    bottom: 0;
}

.StudentNav-link {
    text-decoration: none;
}
