html {
	font-family: sans-serif;
}

tr {
	border-bottom: 1px solid black;
}

table {
	line-height: 1.5;
	border: 1px solid;
	border-collapse: collapse;
	min-width: 50%;
	}
td {
	vertical-align: top;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;

}

li {padding-bottom: 5px;}