:root {
	--color-bg: yellow;
	--color-text: black;
	--color-button: hsl(0,0%,50%);
	--font-md: 2rem;
	--font-lg: 3rem;
}

html {
	line-height: 1.25;
	background-color: yellow;
	color: grey;
	height: 100%;
}

::selection {
	color: orange;
}

body {
	padding: 1rem;
	min-height: 100%;
	display: grid;
	grid-template-rows: max-content 1fr;
	gap: 2rem;
	align-content: start;
}

a {
	display: block;
	width: 100%;
	height: 100%;
}

a:hover {
	color: orange;
}