* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-size: unset;
	font-weight: unset;
	margin: 0;
}

p {
	margin: 0;
}

figure {
	margin: 0;
}

fieldset {
	border: none;
	padding: 0;
}

ol, li {
	margin: 0;
	list-style-type: none;
	padding: 0;
}

a {
	color: unset;
	text-decoration: none;
}

img {
	max-width: 100%;
}