/********************************************/
/* HEADER */
/********************************************/

.Header {
	color: grey;
	text-align: center;
}

/********************************************/
/* NAV */
/********************************************/

.Nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	border-left: 1px solid grey;
}

.Nav-link {
	display: contents;
}

.Nav-item {
	padding: 0.5rem;
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;

	&.is-active,
	&:hover {
		padding: 0.25rem;
		background: grey;
		border: 0.25rem outset grey;
		color: gainsboro;
	}
}

.Nav-item--header {
	grid-column: 1 / -1;
}

/********************************************/
/* TOGGLE */
/********************************************/

.Toggle {
	padding: 0.5rem 0;
	display: flex;
	gap: 0.5rem;
	position: fixed;
	bottom: 1rem;
	left: 1rem;
}

.Toggle-input {
	margin: 0;
}

/********************************************/
/* MAIN */
/********************************************/

.Main {
	margin-left: auto;
  	margin-right: auto;
	width: 100%;
	max-width: 50%;
}

/********************************************/
/* PAGE LIST */
/********************************************/

.PageList {
	display: grid;
	gap: 2rem;
}

.PageList-title {
	font-size: 2rem;
}

/********************************************/
/* PAGE */
/********************************************/

.Page {
	display: grid;
	align-content: start;
	gap: 2rem;
}

.Page-title {
	font-size: 2rem;
}

.Page-body {
	background-color: white;
	border-radius: 5px;
	padding: 1rem;
}

/********************************************/
/* UTILITIES */
/********************************************/

.u-bodyText {
	h2 {
		font-size: 2rem;
		margin-top: 2rem;
	}
	p {
		margin: 1rem 0;
	}
	iframe {
		width: 100%;
		border: 0;
		aspect-ratio: 9/12;
	}
	*:first-child {
		margin-top: 0;
	}
}