---
layout: default
---

<ol class="PageList">

	{% assign assignments = site.studio_assignments | concat: site.lab_assignments %}
	{% assign assignments = assignments | sort: "start_date" %}
	{% for assignment in assignments %}

		{% if assignment.collection == 'studio_assignments' %}
			{% assign type = 'Studio' %}
		{% elsif assignment.collection == 'lab_assignments' %}
			{% assign type = 'Lab' %}
		{% endif %}
		
		<li class="PageList-item">
			<a href="{{ assignment.url }}" class="PageList-link">
				
				<h2 class="PageList-title">
					{{ assignment.title }}
				</h2>
				<div class="Meta">
					<div class="Meta-item">
						{{ type }}, week {{ assignment.start_week }}–{{ assignment.end_week }}
					</div>
				</div>
				
			</a>
		</li>
	{% endfor %}

</ol>