---
layout: default
title: Calendar
---

<section class="Calendar">
	{% for week in site.data.calendar %}
        <section class="Calendar-week">
            <header class="Calendar-weekHeader">
                <h2>{{ week.title }}</h3>
            </header>
            <section class="Calendar-weekBody">
                <section class="Calendar-class" data-class="studio">
                    <h3>Studio (T)</h4>
                    <div>
                        {{ week.studio_1 | markdownify }}
                    </div>
                </section>
                <section class="Calendar-class" data-class="studio">
                    <h3>Studio (Th)</h4>
                    <div>
                        {{ week.studio_2 | markdownify }}
                    </div>
                </section>
                <section class="Calendar-class" data-class="lab">
                    <h3>Lab (F)</h4>
                    <div>
                        {{ week.lab | markdownify }}
                    </div>
                </section>
            </section>
        </section>
    {% endfor %}
</section>