<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet">
        <title>Core 2: Interaction > {{ page.title }}</title>
        <script src="/assets/js/main.js"></script>
    </head>

    <body>
        <header class="Header">
            <div class="Header-title">
                <h1>
                    Core 2: Interaction
                    <br> Spring 2024
                </h1>
            </div>
            <nav class="Nav">
                <ul class="Nav-list">
                    <li class="Nav-item">
                        <a href="/" class="Nav-link">
                            Home
                        </a>
                    </li>
                    <li class="Nav-item">
                        <a href="/calendar" class="Nav-link">
                            Calendar
                        </a>
                    </li>
                    <li class="Nav-item">
                        <a href="/workshops" class="Nav-link">
                            Workshops
                        </a>
                    </li>
                    <li class="Nav-item">
                        <a href="/projects" class="Nav-link">
                            Projects
                        </a>
                    </li>
                    <li class="Nav-item">
                        <a href="/readings" class="Nav-link">
                            Readings
                        </a>
                    </li>
                    <li class="Nav-item">
                        <a href="/resources" class="Nav-link">
                            Resources
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="Page">

            <header class="Page-header">
                <h1>{{ page.title }}</h1>
                {%- capture metaContent -%}
                    {%- if page.class -%}
                        {{ page.class | capitalize }},
                    {%- endif -%}
                    {%- if page.start_week -%}
                        Week {{ page.start_week }}{% if page.end_week %}–{{ page.end_week }}{% endif %},
                    {%- endif -%}
                    {%- if page.end_date -%}
                        Due {{ page.end_date | date: "%b %e" }}
                    {%- endif -%}
                {%- endcapture -%}
                {% include _meta.html content=metaContent %}
            </header>

            {{ content }}

            <fieldset class="Fieldset Fieldset--stylesheet">
                <header>
                    Stylesheet
                </header>
                <select name="stylesheet">
                    <option value="" selected>None</option>
                    <option value="" disabled>---</option>
                    <option value="/assets/css/bryant.css">Bryant</option>
                    <option value="/assets/css/sasha.css">Sasha</option>
                    {% for student in site.data.students %}
                        <option value="{{ student.url }}/lab/projects/02_class-page/assets/style.css">
                            {{ student.name }}
                        </option>
                    {% endfor %}
                </select>
            </fieldset>

        </main>

        <footer class="Footer">
            <nav class="StudentNav">
                {% for student in site.data.students %}
                    <a class="StudentNav-link" href="{{ student.url }}">
                        <img class="StudentNav-image" src="{{ student.url }}/favicon.ico" width="24px" height="24px" />
                    </a>
                {% endfor %}
            </nav>
        </footer>
    </body>

</html>