---
layout: default
---

<ol class="PageList">

	{% assign posts = site.studio_posts | concat: site.lab_posts %}
	{% assign posts = posts | sort: "date" %}
	
	{% for post in posts %}

		{% if post.collection == 'studio_posts' %}
			{% assign type = 'Studio' %}
		{% elsif post.collection == 'lab_posts' %}
			{% assign type = 'Lab' %}
		{% endif %}
		
		<li class="PageList-item">
			<a href="{{ post.url }}" class="PageList-link">
				
				<h2 class="PageList-title">
					{{ post.title }}
				</h2>
				<div class="Meta">
					<div class="Meta-item">
						{{ type }}, week {{ post.week }}
					</div>
				</div>
				
			</a>
		</li>
	{% endfor %}

</ol>